<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/css/nomalize.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/style-mobile.css}" />
    <link rel="stylesheet" th:href="@{/css/popup.css}" />
  </head>

  <body>
    <header>
      <div class="header-top">
        <div class="header-icon">GamanBanking</div>
        <form th:action="@{/logout}" method="post">
          <input type="submit" value="ログアウト" class="logout-btn" />
        </form>
      </div>
      <div class="header-logo">GB</div>
      <nav class="header-nav">
        <ul class="header-nav-menu">
          <li class="header-nav-menu-item">
            <a th:href="@{/gamanbanking/home}">ホーム</a>
          </li>
          <li class="header-nav-menu-item">
            <a th:href="@{/gamanbanking/home/withdraw}">出金</a>
          </li>
          <li class="header-nav-menu-item">
            <a th:href="@{/gamanbanking/home/list}">通帳</a>
          </li>
          <li class="header-nav-menu-item">
            <a th:href="@{/gamanbanking/home/statistics/{id}(id=${id})}"
              >統計</a
            >
          </li>
          <li class="header-nav-menu-item">
            <a th:href="@{/gamanbanking/setting/menu/userinfo}">設定</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="container">
        <div class="setting-menu-container">
          <div class="menu-text">ユーザー情報の確認・変更</div>
          <ul>
            <li>
              <a
                th:href="@{/gamanbanking/setting/menu/userinfo/username/{id}(id=${id})}"
                class="btn"
                >ユーザーID変更</a
              >
            </li>
            <li>
              <a
                th:href="@{/gamanbanking/setting/menu/userinfo/password/{id}(id=${id})}"
                class="btn"
                >パスワード変更</a
              >
            </li>
            <li>
              <a
                th:href="@{/gamanbanking/setting/menu/userinfo/mailaddress/{id}(id=${id})}"
                class="btn"
                >メールアドレス変更</a
              >
            </li>
          </ul>
        </div>
      </div>
    </main>
    <footer>
      <small>©GamanBanking</small>
    </footer>
  </body>
</html>
