*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  min-height: 100vh;
}

body {
  color: rgb(0, 64, 0);
  font-family: "Robot", "Helvetica Neue", "Helvetica", "Hiragino Sans";
  background-color: rgb(239, 250, 231);
  font-size: 1.5rem;
}

main {
  margin-bottom: 60px;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a,
input,
text,
select {
  transition: all 0.15s ease-in-out;
}

input[type="submit"]:hover {
  cursor: pointer;
}

.container {
  max-width: 1280px;
  margin: 0px 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

/* inputのスタイルを削除 */

select {
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #65b741;
  border-radius: 3px;
  color: #fbf6ee;
  font-family: "Robot", "Piazzolla", "Time New Roman", "YuMincho";
  font-weight: 500;
  font-size: 1.5rem;
  background-color: #65b741;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 1.5rem;
}

.logout-btn {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  background-color: #65b741;
  border: none;
  color: #fbf6ee;
  font-family: "Robot", "Piazzolla", "Time New Roman", "YuMincho";
  font-weight: 500;
  font-size: 1rem;
}

.btn:hover,
.btn:focus {
  color: #65b741;
  background-color: #c5ebaa;
}

header {
  color: #fbf6ee;
  font-family: "Robot", "Piazzolla", "Time New Roman", "YuMincho";
  font-weight: 600;
  background-color: #65b741;
}

footer {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  color: #fbf6ee;
  font-family: "Robot", "Piazzolla", "Time New Roman", "YuMincho";
  background-color: #65b741;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 10px;
}

.header-logo {
  text-align: center;
  padding-bottom: 5px;
}

.header-nav-menu {
  justify-content: space-between;
  width: 100%;
  display: flex;
  padding: 0 15px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.header-nav-menu-item > a {
  color: #fbf6ee;
}

.main-display-username {
  margin-bottom: 10px;
}

.main-display-container {
  width: 100%;
  border: 1px solid #cccccc;
  padding: 10px 20px 10px;
  margin-bottom: 10px;
  text-align: right;
}

.main-display-total {
  color: rgb(0, 64, 0);
  font-family: "Robot", "Piazzolla", "Time New Roman", "YuMincho";
}

.main-tran-container {
  margin-bottom: 25px;
  padding: 30px 20px 10px 20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.main-tran-submit {
  margin-top: 10px;
  text-align: center;
}

.text-danger {
  display: block;
  color: red;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.page-title {
  text-align: center;
  margin: 30px 0 10px 0;
  font-weight: normal;
}

.common-container {
  width: 100%;
  padding: 15px 20px 0px 20px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.common-submit {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.common-submit a {
  margin-left: 20px;
}

/* ログイン画面 */

.login-submit {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.login-submit a {
  margin-left: 20px;
}

/* 通帳画面 */

table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  overflow: scroll;
  margin-bottom: 10px;
}

th {
  text-align: center;
  border: solid 1px #cccccc;
  background-color: #65b741;
  font-size: 1.2rem;
  color: #fbf6ee;
  font-weight: normal;
  padding-top: 0.3rem;
}

td {
  font-size: 1.2rem;
  border: solid 1px #cccccc;
  padding: 0.3rem 0.5rem;
}

.td-price,
.td-total {
  text-align: right;
}

.td-url {
  text-align: center;
}

/* 取引編集画面 */
.edit-submit {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.edit-date {
  margin-bottom: 15px;
}

.edit-submit input:last-child {
  margin-left: 20px;
}

/* 統計画面 */

.table-label {
  margin-bottom: 10px;
}

.wrapper-table .td-title {
  text-align: left;
}

.compare-table td {
  text-align: right;
}

.ranking-table td {
  text-align: center;
}

/* 設定画面 */
.menu-text {
  margin-bottom: 10px;
}

.setting-menu-container li {
  margin-bottom: 10px;
}

/* 設定画面(個別)　*/
.setting-title {
  margin-bottom: 10px;
}
.setting-main {
  width: 100%;
  padding: 20px 20px 0px 20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin-bottom: 10px;
}
