<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head class="container">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/nomalize.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/style-mobile.css}">
    <link rel="stylesheet" th:href="@{/css/popup.css}">
</head>

<body>
    <header>
        <div class="header-top">
            <div class="header-icon">GamanBanking</div>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="ログアウト" class="logout-btn">
            </form>
        </div>
        <div class="header-logo">GB</div>
        <nav class="header-nav">
            <ul class="header-nav-menu">
                <li class=header-nav-menu-item><a th:href="@{/gamanbanking/home}">ホーム</a></li>
                <li class=header-nav-menu-item><a th:href="@{/gamanbanking/home/withdraw}">出金</a></li>
                <li class=header-nav-menu-item><a th:href="@{/gamanbanking/home/list}">通帳</a></li>
                <li class=header-nav-menu-item><a
                        th:href="@{/gamanbanking/home/statistics/{id}(id=${loginUser.id})}">統計</a></li>
                <li class=header-nav-menu-item><a th:href="@{/gamanbanking/setting/menu/userinfo}">設定</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="setting-title">取引履歴編集</div>
            <div class="setting-main">
                <form th:action="@{/gamanbanking/home/update/{id}(id=*{transactionId})}" th:method="post"
                            th:object="${transaction}" id="edit">
                    <div class="edit-date">
                        <label class="label" for="date">日付</label>
                        <input type="hidden" th:field="*{transactionDate}"
                                th:text="*{#temporals.format(transactionDate,'yyyy-MM-dd')}" id="date">
                    </div>
                    <div class="input-container">
                        <label class="label" for="price">金額</label>
                            <input type="text" th:field="*{price}" th:errorclass="err" id="price"
                                maxlength="9"/>
                            <span th:errors="*{price}" class="text-danger"></span>
                            <span th:if="${limitError != null}" th:text="${limitError}" class="text-danger"></span>
                    </div>
                    <div class="input-container">
                        <label class="label" for="category">カテゴリ選択</label>
                        <select th:field="*{category.id}" id="category">
                            <option th:each="item:${categoryList}" th:value="${item.id}"
                                th:text="${item.name}" id="category" th:selected="*{category.id} == ${item.id}">
                            </option>
                        </select>
                    </div>
                    <div class="input-container">
                        <label class="label" for="memo">メモ</label>
                        <input type="text" th:field="*{memo}" th:errorclass="err"
                            id="memo"></input>
                        <span th:errors="*{memo}" class="text-danger"></span>
                    </div>
                </form>
                <form th:action="@{/gamanbanking/home/delete/{id}(id=${transaction.transactionId})}" th:method="post">
                    <div class="edit-submit">
                        <input type="submit" value="変更" class="btn" form="edit">
                        <input type="submit" value="削除" class="btn">
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <small>©GamanBanking</small>
    </footer>
</body>

</html>