<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head class="container">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/nomalize.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/style-mobile.css}">
    <link rel="stylesheet" th:href="@{/css/popup.css}">
    <script th:inline="javascript">document.addEventListener('DOMContentLoaded', function () {
            // サーバーからメッセージを取得
            const serverMessage = /*[[${message}]]*/ null;
            const popupWrapper = document.getElementById('popup-wrapper');
            const close = document.getElementById('close');
            // メッセージがあればポップアップを表示
            if (serverMessage) {
                // ポップアップにメッセージを表示する処理
                // document.getElementById('message').innerHTML = "<h2>" + serverMessage + "</h2>";
                // ポップアップを表示
                showPopup();
            }
            // ポップアップを表示する関数
            function showPopup() {
                document.getElementById('popup-wrapper').style.display = 'block';
            }
            popupWrapper.addEventListener('click', e => {
                if (e.target.id === popupWrapper.id || e.target.id === close.id || e.target.id === OK.id) {
                    popupWrapper.style.display = 'none';
                }
            });
        });
    </script>
</head>

<body>
    <header>
        <div class="header-top">
            <div class="header-icon">GamanBanking</div>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="ログアウト" class="logout-btn">
            </form>
        </div>
        <div class="header-logo">GB</div>
        <nav class="header-nav">
            <ul class="header-nav-menu">
                <li class=header-nav-menu-item><a th:href="@{/gamanbanking/home}">ホーム</a></li>
                <li class=header-nav-menu-item><a th:href="@{/gamanbanking/home/withdraw}">出金</a></li>
                <li class=header-nav-menu-item><a th:href="@{/gamanbanking/home/list}">通帳</a></li>
                <li class=header-nav-menu-item><a
                        th:href="@{/gamanbanking/home/statistics/{id}(id=${loginUser.id})}">統計</a></li>
                <li class=header-nav-menu-item><a th:href="@{/gamanbanking/setting/menu/userinfo}">設定</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="main-display">
                <div class="main-display-username" th:text="${loginUser.name}+' さんの残高は...'"></div>
                <div class="main-display-container">
                    <div class="main-display-total" th:text="${totalBalance}"></div>
                </div>
            </div>
            <div class="main-tran-container">
                <form th:action="@{/gamanbanking/home/withdraw/add}" th:method="post" 　th:object="${transaction}">
                    <div class="main-tran-category">

                        <label cfor="category">カテゴリ選択</label>

                        <div class="main-tran-category-select">
                            <select th:field="*{category.id}" id="category">
                                <option class="form-control" value="" 　th:text="選択してください"></option>
                                <option class="form-control" th:each="item:${categoryList}" th:value="${item.id}"
                                    th:text="${item.name}" id="category"></option>
                            </select>
                        </div>
                        <div class="alert">
                            <span th:if="${categoryError != null}" th:text="${categoryError}"
                                class="text-danger"></span>
                        </div>
                    </div>
                    <div class="main-tran-price">

                        <label class="form-label" for="price">金額を入力してください</label>

                        <div class="main-tran-price-input">
                            <input type="text" th:field="*{price}" 　th:errorclass="err" id="price" maxlength="9">
                        </div>
                        <div class="alert">
                            <span th:errors="*{price}" class="text-danger"></span>
                            <span th:if="${limitError != null}" th:text="${limitError}" 　class="text-danger"></span>
                        </div>
                    </div>
                    <div class="main-tran-memo">

                        <label class="form-label mt-2" for="memo">memo</label>

                        <div class="main-tran-memo-input">
                            <input class="form-control" type="text" th:field="*{memo}" th:errorclass="err"
                                id="memo"></input>
                        </div>
                        <div class="alert">
                            <span th:errors="*{memo}" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="main-tran-submit">
                        <input type="submit" value="出金する" class="btn">
                    </div>
                </form>

            </div>
            <div id="popup-wrapper" th:if="${message != null}">
                <div id="popup-inside">
                    <div id="close">x</div>
                    <div id="message">
                        <h4 th:text="${message}"></h4>
                        <a id="OK" href="#" th:text="OK"></a>
                    </div>
                </div>
            </div>
    </main>
    <footer>
        <small>©GamanBanking</small>
    </footer>
</body>

</html>