<!DOCTYPE html>
<html class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: head_fragment(title=新規登録)"></head>

<body class="overflow-hidden">
    <div class="row h-100  justify-content-center">
        <div class="row h-100  justify-content-center">
            <p class="welcome" th:text="'ようこそ '+${loginUser.name}+' さん'"></p>
        </div>
        <div class="row h-100  justify-content-center">
            <p class="totalBalance" th:text="'残高 : '+${totalBalance}"></p>
        </div>
        <div class="row h-100  justify-content-center">
            <div class="card-body">
                <form th:action="@{/gamanbanking/home/withdraw/add}" th:method="post"　th:object="${transaction}">
                    <div class="wizard wizard-success mb-4">
                        <div class="mb-3">
                            <label class="form-label" for="price">出金額を入力してください</label>
                            <p class="mb-1"></p>
                            <div class="col-md-5">
                                <input class="form-control" type="text" th:field="*{price}" th:errorclass="err" id="price" maxlength="9">
                                <span th:errors="*{price}" class="text-danger"></span>
                                <span th:if="${limitError != null}" th:text="${limitError}" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="category">カテゴリ選択</label>
                            <p class="mb-1"></p>
                            <div class="col-md-7">
                                <select th:field="*{category.id}">
                                    <option class="form-control" value=""　th:text="選択してください"></option>
                                    <option class="form-control" th:each="item:${categoryList}" th:value="${item.id}" th:text="${item.name}" id="category"></option>
                                </select>
                                <span th:if="${categoryError != null}" th:text="${categoryError}" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="memo">メモ</label>
                            <p class="mb-1"></p>
                            <div class="col-md-5">
                                <input class="form-control" type="text" th:field="*{memo}" th:errorclass="err" id="memo"></input>
                                <span th:errors="*{memo}" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <p class="mt-2">
                        <input type="submit" value="出金する" class="btn btn-primary">
                    </p>
                </form>
            </div>
            <p class="mt-2">
                <a th:href="@{/gamanbanking/home}" class="btn btn-primary">ホーム</a>
                <a th:href="@{/gamanbanking/home/withdraw}" class="btn btn-primary">出金</a>
                <a th:href="@{/gamanbanking/home/list}" class="btn btn-primary">通帳</a>
            </p>
        </div>
    </div>
</body>
</html>