<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>がまん銀行</title>
</head>
<body>
  <header>
    <div>
      <h1>がまん銀行ATM</h1>
    </div>
  </header>
  <main>
    <div id="入金">
      <h2>ためる！</h2>
      <form action="" method="post">
        <div id="drink">
          <label for="drink">飲み物</label>
          <input type="text" id="drink" name="drink">
          <input type="submit" value="貯金する">
        </div>
        <div id=tabacco>
          <label for="tobacco">タバコ</label>
          <input type="text" id="tobacco" name="tobacco">
          <input type="submit" value="貯金する">
        </div>
      </form>
    </div>
    <div id="出金">
      <h2>つかう！</h2>
      <form action="" method="post">
        <div>
          <label for="something">買ったもの</label>
          <input type="text" id="something" name="something">
        </div>
        <div>
          <label for="cashout">金額</label>
          <input type="text" id="cashout" name="cashout">
          <input type="submit" value="出金する">
        </div>
      </form>
    </div>
    <div>
      <h2>残高：xxxx円</h2>
      <input type="submit" value="通帳を見る">
    </div>
  </main>
</body>
</html>