<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>がまん銀行通帳</title>
</head>
<body>
  <header>
    <div>
      <h1>通帳</h1>
    </div>
  </header>
  <main>
    <table border="1">
      <tr>
        <th>日付</th>
        <th>項目</th>
        <th>入出金額</th>
        <th>残高</th>
      </tr>
      <tr>
        <td>2023/11/26</td>
        <td>エナジードリンク</td>
        <td>+￥230</td>
        <td>￥230</td>
      </tr>
      <tr>
        <td>2023/11/27</td>
        <td>ミネラルウォーター</td>
        <td>▲￥110</td>
        <td>￥120</td>
      </tr>
    </table>
  </main>
</body>
</html>